body, h1, form, section {
    margin: 0;
    padding: 0;
}


.header {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#f4f4f9;
    background-color: #ffffff !important;
}

/* .header.container.my-5.p-5.bg-dark.text-white {
    background-color: #ff0000;
} */

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color:rgb(0, 0, 0);
}

.main {
    margin-top: 2rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #85c2ee;
    color: #ffffff;
}


form {
    margin-top: 2rem;
    text-align: center;
}

.form-label {
    font-weight: bold;
    font-size: 1.1rem;
}

#locationName {
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
}

section {
    margin-top: 3rem;
    text-align: center;
}

.footer {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    background-color: #333;
    color: white;
    border-radius: 8px;
}.card
{
    height: 300px ;
    text-align: center;
    background: linear-gradient( rgba(73, 174, 241, 0.70),rgb(223, 147, 47));
    font-style: bold;
    border: none;
    cursor: pointer;
}
